{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="bg_gray">

	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
		</div>
		<h1>Sign In or Create an Account</h1>
	</div>
	<!-- /page_header -->
			<form action="{% url 'login' %}" method="POST">
			{% csrf_token %}
			<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<h3 class="client">Already Client</h3>
					<form action="{% url 'login' %}" method="POST" >
						{% csrf_token %}
					<div class="form_container">
						<div class="row no-gutters">
							<div class="col-lg-6 pr-lg-1">
								<a href="#0" class="social_bt facebook">Login with Facebook</a>

							</div>

							<div class="col-lg-6 pl-lg-1">
								<a href="#0" class="social_bt google">Login with Google</a>
							</div>

						</div>

						<div class="divider"><span>Or</span>
						</div>

						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email*">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" id="password_in" value="" placeholder="Password*">
						</div>
						<div class="clearfix add_bottom_15">
							<div class="checkboxes float-start">
								<label class="container_check">Remember me
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>

								<div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width">
								</div>
							<div class="float-end"><a id="forgot" href="{% url 'forgotPassword' %}">Lost Password?</a></div>
						</div>

						<div id="forgot_pw">
							<div class="form-group">
								<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">
							</div>
							<p>A new password will be sent shortly.</p>

						</div>
					</div>

				</form>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
				<div class="row">
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Find Locations</li>
							<li>Quality Location check</li>
							<li>Data Protection</li>
						</ul>
					</div>
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Secure Payments</li>
							<li>H24 Support</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
		<div class="col-xl-6 col-lg-6 col-md-8">
			<form action="{% url 'register' %}" method="POST">
				{% csrf_token %}
				<div class="box_account">
					<h3 class="new_client">New Client</h3> <small class="float-right pt-2">* Required Fields</small>
					<div class="form_container">
						<div class="form-group">
						<label>First name</label>
					  	{{ form.first_name }}
							<input type="text" class="form-control" name="first_name" value="" id="first name" placeholder="first name*">
						</div>
						<div class="form-group">
									<label>Last name</label>
							{{ form.last_name }}
							<input type="text" class="form-control" name="last_name" value="" id="last name" placeholder="last name*">
						</div>
						<div class="form-group">
						</div>
						<div class="private box">
							<div class="row no-gutters">
								<div class="col-6 pr-1">
									<div class="form-group">
								  <label>Email Address</label>
									{{form.email}}
										<input type="email" class="form-control" name="email"  value="" placeholder="email*">
									</div>
								</div>
								<div class="col-6 pr-1">
								  <label>Phone Number</label>
					  				{{form.phone_number}}
									<input type="text" class="form-control" name="phone_number" value="" placeholder="phone number*">
									</div>
								</div>
							</div>
								<div class="row no-gutters">
								<div class="col-6 pr-1">
								<div class="form-group">
								<label>Create password</label>
					    		{{ form.password }}
									<input type="password" class="form-control" name="password"  value="" placeholder="Password*">
									</div>
								</div>
								<div class="col-6 pr-1">
									<div class="form-group">
								 	<label>Repeat password</label>
            						{{form.confirm_password}}
									<input type="password" class="form-control" name="confirm_password"  value="" placeholder="confirm_Password*">
									</div>
								</div>
						<div class="form-group">
						<div class="text-center"><input type="submit" value="Register" class="btn_1 full-width">
						</div>

						</div>


					</div>

					<!-- /form_container -->
				</div>

				<!-- /box_account -->
			</div>
		</form>

		</div>
		<!-- /row -->
		</div>

			</form>
		</div>

		<!-- /container -->
	</main>
	<!--/main-->
{% endblock %}